In [1]:
import numpy as np
import pandas as pd

from quantile_regression.expected_shortfall import var_es, loss

In [2]:
data = pd.read_csv("data/uniswap_dai_weth_fee500_features.csv")

In [3]:
data

,Unnamed: 0,price,return,liquidity,amount0,amount1,annualized_vol
0,2023-03-01 01:01:35,0.000624,0.001878,3.018667e+23,16833.734671,-10.508156,0.708172
1,2023-03-01 01:05:35,0.000624,0.001918,3.018667e+23,-4259.184870,2.660000,0.715349
2,2023-03-01 01:05:59,0.000624,0.001134,3.018667e+23,11499.792741,-7.172675,0.741826
3,2023-03-01 01:08:47,0.000624,0.000132,3.018667e+23,-1281.880262,0.800000,0.735157
4,2023-03-01 01:10:35,0.000623,-0.002352,3.018667e+23,14018.950559,-8.735658,0.732795
...,...,...,...,...,...,...,...
212661,2024-02-28 23:45:23,0.000296,-0.010307,3.018667e+23,-6381.129884,1.890000,0.927760
212662,2024-02-28 23:46:23,0.000296,-0.010065,3.018667e+23,-1541.540325,0.457010,0.931213
212663,2024-02-28 23:46:35,0.000297,-0.009282,3.018667e+23,-3342.912770,0.991622,0.959878
212664,2024-02-28 23:46:59,0.000296,-0.010728,3.018667e+23,9160.430148,-2.712717,1.064993
212665,2024-02-28 23:55:59,0.000296,-0.009018,3.018667e+23,-2098.942004,0.621672,1.116863

In [4]:
x = data['return'].values + 1

In [5]:
res = var_es(x, 0.5)

In [6]:
res

  message: Optimization terminated successfully.
  success: True
   status: 0
      fun: -2.703489049098108
        x: [ 1.000e+00  9.954e-01]
      nit: 10
      jac: [ 0.000e+00  2.980e-07]
 hess_inv: [[ 1.240e-03  2.513e-04]
            [ 2.513e-04  3.703e-01]]
     nfev: 48
     njev: 16